.headerinv-main{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    height: 50px;
}

.headerinv-main-logo{
    height: 40px;
    width: 40px;
    margin:0px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url('/Iconos/logo ppal svg.svg');
    min-width: 40px;
}

.headerinv-main-info{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin:0px;   
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor:pointer;
    transition: all 0.3s ease;
    top: 0px;
}

.headerinv-main-info-red{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin:0px;   
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor:pointer;
    transition: all 0.3s ease;
    top: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.headerinv-main-letrero{
    display: none;
}

.headerinv-main-letrero-red{
    margin:0px;
    padding:0px;
    font-size:12px;
    color: red;
}

.headerinv-main-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

.headerinv-main-input1{
    margin:0px;
    width: 130px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
}

.headerinv-main-input2{
    margin:0px;
    width: 80px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
}

@media (max-width: 768px){
    .headerinv-main-input1{
    font-size: 15px;
    width: 80px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
    white-space: nowrap;
    overflow: hidden;    /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis; /* Añade los puntos suspensivos (...) */
    }

    .headerinv-main-input2{
    font-size: 15px;
    width: 50px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
    white-space: nowrap;
    overflow: hidden;    /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis; /* Añade los puntos suspensivos (...) */
    }


}

.headerinv-main-input1:focus{
    outline: none;

}

.headerinv-main-input2:focus{

    outline: none;

}

.headerinv-main-button{
    width: fit-content;
    height: 30px;
    width: 40px;
    border-radius: 51px;
    background-color: #ffff;
    border-style: none;
    cursor: pointer;
}

.spinner-carga{
    scale: 0.8;
    height: 30px;
    width: 30px;
    background-image: url('/Iconos//logo_carga.gif');

    /* -- LA ANIMACIÓN DEL METRÓNOMO -- */
    transform-origin: center; 
    animation: balanceo 0.9s ease-in-out infinite; 
}

@media (max-width: 600px) {
    .header-main-info-div > p{
        display:none;
    }
}


 