.header-main{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
}

.header-main-logo{
    height: 40px;
    width: 40px;
    margin:0px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url('../resources/Iconos/logo ppal svg.svg');
    min-width: 40px;
}

.header-main-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px;
    flex-grow: 1; 
    max-width: 500px;
    min-width: 0px; 
    width: 100%;
    height: 30px;
    overflow: hidden;
}


.header-main-search > form > input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    font-size: 16px;
    margin:0px;
    padding-left: 5px;
}

.header-main-search > form > input:focus{
    outline: none;
}

.header-main-info{
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin:0px;   
    margin-left: 5px;
    padding-left: 10px;
    height: 40px;
}

.header-main-info > p{
    margin:0px;  
    font-size: 14px;
    color: #333;
  
}

.header-main-info-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size: 14px;
}

.header-main-info-div1-green{
    margin:0px;
    height: 30px;
    width: 30px;
    background-image: url('../resources/iconos/Iconos categorias.svg');
    background-position: -303px -30px;
    margin-right: 5px;
    margin-left: 0px;

}

.header-main-info-div1-orange{
    margin:0px;
    height: 30px;
    width: 30px;
    background-image: url('../resources/iconos/Iconos categorias.svg');
    background-position: -303px -59px;
    margin-right: 5px;
    margin-left: 0px;

}

.header-main-info-div1-red{
    margin:0px;
    height: 30px;
    width: 30px;
    background-image: url('../resources/iconos/Iconos categorias.svg');
    background-position: -303px -88px;
    margin-right: 5px;
    margin-left: 0px;

}

.header-main-info-div2{
    margin:0px;
    height: 30px;
    width: 30px;
    scale: 0.8;
    background-image: url('../resources/iconos/Iconos categorias.svg');
    background-position: -333px -60px;
    margin-right: 5px;

}

.header-main-user{
    margin:0px;
    height: 30px;
    width: 30px;
    background-image: url('../resources/iconos/Iconos categorias.svg');
    background-position: -330px -90px;
    margin-right: 10px;
    scale: 1.3;
    cursor: pointer;
}

.header-main-user:hover{
    scale: 1.8;

}
 