.header-main{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
}

.header-main-logo{
    height: 40px;
    width: 40px;
    margin:0px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url('../resources/Iconos/logo ppal svg.svg');
    min-width: 40px;
}

.header-main-info{
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin:0px;   
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    cursor:pointer;
    transition: all 0.3s ease;
    filter: grayscale(100%);
}

.header-main-info:hover{
    background-color: #f3f3f3;
    transform: translateY(-2px); /* Mueve el botón 3 píxeles hacia arriba */
    box-shadow: 0 3px 3px rgba(129, 129, 129, 0.3); /* Añade una sombra debajo */
    filter: grayscale(0%);
}

.header-main-info > p{
    margin:0px;  
    font-weight: bolder;
    font-size: 14px;
    color: #333;
  
}


.header-main-info > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

.header-main-input1{
    width: 130px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
}

.header-main-input2{
    width: 80px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
}

@media (max-width: 768px){
    .header-main-input1{
    font-size: 15px;
    width: 80px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
    white-space: nowrap;
    overflow: hidden;    /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis; /* Añade los puntos suspensivos (...) */
    }

    .header-main-input2{
    font-size: 15px;
    width: 50px;
    margin-right: 10px;
    border-style: none;
    background-color: #f3f3f3;
    padding-bottom: 1px; 
    border-bottom: 1px solid ; 
    white-space: nowrap;
    overflow: hidden;    /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis; /* Añade los puntos suspensivos (...) */
    }


}

.header-main-input1:focus{
    outline: none;

}

.header-main-input2:focus{

    outline: none;

}

.header-main-button{
    width: fit-content;
    height: 30px;
    border-radius: 51px;
    background-color: #ffff;
    border-style: none;
    cursor: pointer;
}



 