.main-categoria-barra{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.categoria-barra{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    border-radius: 25px;
    scrollbar-width: none; /*Para Firefox*/
    padding-top: 2px;
}

.carrusel-oculto::-webkit-scrollbar {
  display: none;
}

.retro-categoria-barra{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    border-radius: 25px;
    background-image: url(../../resources/Iconos/Iconos\ categorias.svg);
    justify-content: center;
    align-items: center;
    background-position: -87px 30px;
    transition: all 0.3s ease;
    filter: grayscale(100%);

}

.avan-categoria-barra{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    border-radius: 25px;
    background-image: url(../../resources/Iconos/Iconos\ categorias.svg);
    justify-content: center;
    align-items: center;
    background-position: -47px 30px;
    transition: all 0.3s ease;
    filter: grayscale(100%);
    
}

.avan-categoria-barra:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    transform: translateY(-2px); /* Mueve el botón 3 píxeles hacia arriba */
    box-shadow: 0 3px 3px rgba(129, 129, 129, 0.3); /* Añade una sombra debajo */
    filter: grayscale(0%);

}

.retro-categoria-barra:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    transform: translateY(-2px); /* Mueve el botón 3 píxeles hacia arriba */
    box-shadow: 0 3px 3px rgba(129, 129, 129, 0.3); /* Añade una sombra debajo */
    filter: grayscale(0%);

}

@media (max-width: 600px) {
    .retro-categoria-barra, .avan-categoria-barra {
        display: none; /* Oculta los botones en pantallas pequeñas */
    }
}