.div-medallas-si{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #f3f3f3;
    width: fit-content;
}

.div-medallas-no{
    display: none;
}

.div-oro-no{
    display: none;
}

.div-oro-si{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;

}

.div-oro-si > p{
    font-weight: lighter;
    font-style: oblique;
    color: grey;
    margin: 0px;
    margin-right: 3px;
}

.div-oro-si > div:nth-child(2){
    margin: 0px;
    width: 15px;
    height: 15px;
    background-image: url('/Iconos/Iconos\ Ranks.svg');

}

.div-plata-no{
    display: none;
}

.div-plata-si{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;

}

.div-plata-si > p{
    font-weight: lighter;
    font-style: oblique;
    color: grey;
    margin: 0px;
    margin-right: 3px;
}

.div-plata-si > div:nth-child(2){
    margin: 0px;
    width: 15px;
    height: 15px;
    background-image: url('/Iconos/Iconos\ Ranks.svg');
    background-position: -15px 0px;

}

.div-bronce-no{
    display: none;
}

.div-bronce-si{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;

}

.div-bronce-si > p{
    font-weight: lighter;
    font-style: oblique;
    color: grey;
    margin: 0px;
    margin-right: 3px;
}

.div-bronce-si > div:nth-child(2){
    margin: 0px;
    width: 15px;
    height: 15px;
    background-image: url('/Iconos/Iconos\ Ranks.svg');
    background-position: -30px 0px;

}
