.cargando-logo{
    height: 30px;
    width: 30px;
    background-color: #f3f3f3; 
    margin: 20px auto;
    background-image: url("@/assets/resources/iconos/logo_carga.gif");



    /* -- LA ANIMACIÓN DEL METRÓNOMO -- */
    transform-origin: center; 
    animation: balanceo 0.9s ease-in-out infinite; 
}

@keyframes balanceo {
    0% { 
        transform: rotate(-35deg); /* Empieza inclinado a la izquierda */
    }
    50% { 
        transform: rotate(35deg);  /* A la mitad del tiempo, llega a la derecha */
    }
    100% { 
        transform: rotate(-35deg); /* Vuelve a la izquierda para cerrar el bucle suavemente */
    }
}

.mensaje{
    text-align: center;
    color: gray;
}